@use "./variables" as v;
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vh;
  text-align: center;

  img {
    border-radius: v.$b-radius;
    border: v.$bord-white;
  }

  p {
    padding: 3vh;
  }
}
